# ==============================
# LogiTrack - Variables de Entorno
# ==============================

DATABASE_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_seguro
PYTHON_BIN=python
